@using GameLogic.Arena
@model GameLogic.Arena.Arena
@{
    ViewBag.Title = "Arena";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title </title>
</head>
<body>
    <h2>Welcome to the Arena!</h2>
    <div id="arenaFloor">
    @{
        for (var i = 0; i < Model.ArenaFloor.GetLength(0); i++)
        {
            <div class="arenaFloorRow">
                @for (var j = 0; j < Model.ArenaFloor.GetLength(1); j++)
                {
                    <div class="arenaFloorTile">TILE</div>
                }
            </div>
        }
    }
    </div>
</body>
</html>
