@model GameLogic.Arena
@{
    ViewBag.Title = "Arena";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title </title>
</head>
<body>
    <div>
        Welcome to the Arena!
    </div>
</body>
</html>
