@model GameMvc.Models.UICharacterModel
@{
    ViewBag.Title = "Create Character";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
 <h2>Welcome! Create your character to continue...</h2>
@using (Html.BeginForm("CreateCharacter", "Game", FormMethod.Post))
 {
    @Html.ValidationSummary(true)
  <fieldset>
        <legend>Enter details</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>            
        </ol>
        <input type="submit" value="Create" />
    </fieldset> }
</body>
</html>
